.header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 50;
  transition:
    background-color 200ms ease,
    box-shadow 200ms ease;
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  background: transparent;
  box-shadow: none;
  color: #fff;
}

.fixed {
  position: fixed;
  background: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  color: #111;
}

.nav {
  text-align: right;
  display: flex;
  gap: 24px;
}

.link {
  cursor: pointer;
  user-select: none;
  font-weight: 400;
}

.active {
  color: #ff5c35;
  font-weight: 400;
}
