.section {
  width: 100%;
  min-height: calc(100vh - var(--header-h) - var(--footer-h));
  background: yellow;
  padding: 4rem 1.5rem;
  overflow-x: hidden;
  
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}