.section {
  padding-top: 30px;
  width: 100%;
  justify-content: center;
  align-items: start;
  height: 1200px;
  background-color: chocolate;
  height: fit-content;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
  column-gap: 0.5rem;
  row-gap: 2rem;
  padding: 2rem 4rem;
}

@media (max-width: 1150px) {
  .container{
    display: flex;
    justify-content: center;
  }
}