.container {
    display: flex;
    align-items: center;
    gap: 12px; 
    width: fit-content;
    padding-bottom: 4px;
    margin-bottom: 30px;
}

.icon {
    width: 30px; 
    height: auto;
}

.title {
    font-family: 'Black Han Sans', sans-serif;  
    font-size: 3rem; 
    font-weight: 400; 
    text-transform: uppercase;
    letter-spacing: -2px; 
    border-bottom: 1px solid #000000; 
    margin: 0;
    color: #000000;
}