.container {
    display: flex;     
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 29px;
    padding: 4px 12px; 
    border-radius: 8px; 
    line-height: 1;  
}

.name2 {
    font-family: 'Noto Sans KR', sans-serif;  
    font-size: 14px; 
    font-weight: 500;   
    margin: 0;          
}